body {
	background: #eef;
}
textarea {
	background: #eef;
	margin-top: 10px;
	color: #225;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 13px;
	font-weight: bolder;
    width: 100%;
    height: 100px;
    border: 0px;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.author {
    margin: auto;
    text-align: center;
    font-size: 15px;
    height: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.content {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 45px;
}